@import '../Var.css';

.navbar {
  position: fixed;
  top: 0;
  background-color: var(--backgound-color);
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: 5%;
  padding-top: 15px;
  padding-bottom: 5px;}

.navbar ul {
    display: flex;
    font-size: 20px;
    list-style: none;
    gap: 100px;  /* Adds a gap between the items */
}

a, a:visited, a:focus, a:active {
    color: white;
    text-decoration: none;
}

.navbar ul li a.active {
    font-weight: bold;
}
