@import './Var.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
}

.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.App {
    text-align: center;
    display: flex;
}

.PageContainer {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgound-color); /* Utilisez votre couleur préférée ici */
    color: white; /* Couleur du texte */
    padding: 1em;
    margin-top: auto;
}

.footer-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
