* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.App {
  text-align: center;
  display: flex;
}

.PageContainer {
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.footer {
    display: flex;
    background-color: #333; /* Utilisez votre couleur préférée ici */
    color: #fff; /* Couleur du texte */
    padding: 1em;
    margin-top: auto;
}

.footer-column {
    flex: 1;
}
